@import url(normalize.css);

@font-face {
    font-family: 'Sketchzone';
    src: url(fonts/Sketchzone.otf);
}

@font-face {
    font-family: 'Wigenda';
    src: url(fonts/WigendaTypewrite-Bold.ttf);
}

.container{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

/*Header*/
.header {
    background-color: #f5f4f1ec;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    box-shadow: 0px 8px 8px #88888861;
    gap: 1rem;
    padding: 1rem 2rem;
    position: relative;
    z-index: 2;
    font-family: 'Wigenda';
}

.search-bar, .profile-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-bar img{
    width: calc(1rem + 1vw);
    display: flex;
}
  
input{
    width: 80%;
    border-radius: 1rem;
    background-color: white;
}
  
.top-profile, .buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
}
  
.top-profile img:first-child{
    width: calc(1.7rem + 1vw);
    border-radius: 50%;
}
  
.top-profile{
    font-size: calc(0.4rem + 1vw);
    font-weight: bold;
    letter-spacing: 0.01rem;
}
  
.profile-info img{
    width: calc(3.2rem + 1vw);
    border-radius: 50%;
}
  
.profile-info div p:first-child{
    margin: 0;
    font-size: calc(0.1rem + 1vw);
}
  
.profile-info div p:nth-child(2){
    margin: 0;
    font-size: calc(0.6rem + 1vw);
    font-weight:700;
}
  
button{
    background-color: white;
    border-radius: 1rem;
    padding: 0.4rem 1.5rem;
    font-size: calc(0.3rem + 1vw);
    font-weight: 600;
    width: calc(10rem + 1vw);
}

.top-profile > *:hover, .profile-info img:hover, button{
    cursor: pointer;
}
  
.top-profile > *:active, .profile-info img:active{
    transform: scale(1.05);
}

/*Books*/
.books{
    background: url(images/texture.jpg);
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.books p{
    font-family: 'Sketchzone' ;
    font-size: calc(1rem + 1vw);
    margin:0;
}

#cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
}

.card {
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 0.8rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 7px 8px 8px rgb(175, 172, 172);
    position: relative;
  }

.card p, .card label{
    font-family: 'Wigenda';
    margin:0;
    font-size: calc(0.3rem + 1vw);
    white-space: pre-line;
}

.cardButton{
    background-image: url(images/delete.png);
    padding: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.card:hover{
    transform: scale(1.03);
}

/*Form*/
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.form-container {
    min-width: 15vw;
    padding: 25px;
    background-color: white;
    border: 0.15rem solid black;
    border-radius: 0.8rem;
    box-shadow: 7px 8px 8px rgb(175, 172, 172);
}

.form-container input {
    border: 0.1rem solid black;
    background: #88888861;
    border-radius: 0.3rem;
    width: 95%;
    margin-bottom: 1rem;
}

.form-container input:focus{
    background-color: rgb(148, 144, 144);
    outline: none;
}
  
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 0.5rem 0.8rem;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.8;
}

.form-buttons .cancel {
    background-color: red;
}

.form-buttons .btn:hover, .open-button:hover {
    opacity: 1;
}

.form-buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

label {
    display: block;
}

#read {
    width: 1rem;
    vertical-align: baseline;
}

.form-container label{
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(0.4rem + 1vw);
    font-weight: 700;
}





